* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    background-color: paleturquoise;
}

#mainSection {
    width: 60%;
    margin: auto;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

#ligne {
    border: 2px solid #0ac0ef;
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
}

#div-one {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    background-color: #0ac0ef;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#div-one > h1 {
    margin-left: 30px;
}

#div-two {
    color: black;
    background-color: mediumaquamarine;
    border-radius: 5px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#div-two > h1 {
    margin: 30px;
    padding-top: 30px;
}

#inputAndButton {
    margin: 30px;
}

input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    border: 2px solid black;
}

button {
    padding: 10px 20px;
    background-color: #0579fb;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px;
    border: 2px solid black;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

#buttonFiltre {
    text-align: right;
    margin-bottom: 15px;
}

#buttonFiltre button {
    background-color: #efefef;
    color: black;
    text-align: center;
    margin-bottom: 25px;
}

#buttonFiltre button:hover {
    background-color: #ffc230;
}

.item {
    background-color: lightgray;
    margin-top: 20px !important;
    color: black;
    border-radius: 10px;
    padding-left: 60px;
    display: flex;
    border: 3px solid black;
    font-size: 18px;
    width: 70%;
    margin: auto;
}

.item:hover {
    transform: translateY(-3.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.fas {
    margin: 10px;
    margin: auto;
}

#spanIcons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

#spanIcons button {
    background-color: lightgray;
    border: none;
}

i:hover {
    color: black !important;
}

p {
    margin: auto;
}

#renamePara {
    width: 60%;
    height: 20px;
    border: 3px solid orange;
    outline: none;
    margin: auto;
    margin-left: -20px;
}

#renamePara::placeholder {
    color: black;
}
